.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  padding: 16px 40px;
  border-radius: 200px;

  color: #101828;
  text-decoration: none;
  background-color: transparent;
  white-space: nowrap;
  width: fit-content;
  border: 1px solid #dadde1;
}

.button:hover,
.button:focus {
  border: 1px solid #d84343;
}
.catalog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.container {
  display: flex;
  gap: 64px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}
.catalogPage {
  padding-top: 48px;
}
