.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  padding: 16px 40px;
  border-radius: 200px;

  background-color: #e44848;
  color: #fff;
  text-decoration: none;

  white-space: nowrap;
  border: none;
}
