.nav {
  display: flex;
  align-items: center;
  gap: 40px;

  border-bottom: 1px solid #dadde1;
  margin-bottom: 44px;
}

.link {
  position: relative;

  display: inline-flex;
  align-items: center;

  padding: 24px 0;
  text-decoration: none;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background: #e44848;
  border-radius: 2px;
}
