.hero {
  width: 100%;
  /* height: 696px; */

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 260px;
  padding-bottom: 260px;
}

.content {
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;

  color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 40px;
}
