.hero {
  width: 100%;
  height: 696px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  color: #ffffff;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.text {
  font-size: 18px;
  max-width: 500px;
}
