.list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 631px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: #f2f4f7;
  color: #e44848;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.comment {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
