.card {
  display: flex;
  gap: 24px;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  border: 1px solid #dadde1;
}
.media {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  overflow: hidden;
  flex: 0 0 292px;
}
.img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}
.body {
  flex: 1;
  min-width: 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
}
.topRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #111827;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rightTop {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #111827;
  white-space: nowrap;
}
.favoriteBtn {
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.favoriteIcon {
  fill: #101828;
}

.active .favoriteIcon {
  fill: #e44848;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 0;

  color: #101828;
}

.rating {
  display: inline-flex;
  align-items: center;
  /* gap: 6px; */
}

.star {
  fill: #f59e0b;
}

.location {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.desc {
  margin: 0;
  color: #475467;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
}
.icon {
  fill: transparent;
  stroke: #101828;
}
