.features {
  display: flex;
  flex-direction: column;

  padding: 44px 52px;
  width: 631px;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: 204px;
  align-content: flex-start;
}
.title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
.divider {
  height: 1px;
  background: #dadde1;
  margin-bottom: 24px;
}
.list {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 24px;

  padding: 8px 0;
}

.term {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.value {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;

  text-align: right;
  white-space: nowrap;
}
