.tag {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 12px 18px;
  background: #eceff3;
  text-transform: capitalize;
}
.icon {
  fill: transparent;
  stroke: #101828;
}
